.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  overflow: hidden;
  position: fixed; 
  top: 0; 
  box-shadow: 0 4px 6px -6px rgba(34, 34, 34, 0.8);

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    
    * {
      color: black;
      text-decoration: none;
    }
  }




  .links {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      list-style: none;
      text-align: center;
      padding: 14px 16px;
  
      * {
        color: black;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
      }
  
    }
      :hover {
        cursor: pointer;
      }

  }
}
